<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8", http-equiv='Content-Type' />
  </head>

  <body>
    <%= yield %>
    <br>
    Sincerely,
    <br />

    <p>
      Application
      <br />
      9999 Street
      <br />
      111th Floor
      <br />
      City, State 90069
    </p>
  </body>
</html>
